@mixin text {
    font-size: 36px;
    font-weight: 800;
    color: $primary-color;
    line-height: 36px;
    font-style: normal;
}

@mixin button {
    color: $bg-color;
    background-color: $primary-color;
    width: 80px;
    height: 3rem;
    font-weight: 500;
    box-shadow: none;
}