// font family import
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// colors variables
$primary-color: #1D9FED;
$secondary-color: #1F3865;
$text-color: #000000;
$bg-color: #fff;


// font variables
$primary-font: 'Inter', sans-serif